.nav-bar {
  background-color: black;
  height: 5em;
  overflow: auto;
}

.nav_button {
  color: white;
  font-size: 16px;
  font-family: sans-serif;
  float: right;
  padding: 2%;
  padding-top: 2em;
}

.featured-story {
  width: 100%;
}

.section-head {
  //padding-top: 1em;
  padding-left: 2%;
  //padding-bottom: 1em;
  text-align: center;
}

.section {
  margin: 1em;
  padding-top: 1em;
  padding-bottom: 3em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 2em;
  grid-row-gap: 2em;
  text-align: center;
  overflow: auto;
}

.story {
  background-color: pink;
  font-size: 2em;
  text-align: center;
  padding: 2em;
  height: 5em;
  box-shadow: 0.25em 0.25em 8px #888888
}

h1 {
  font-size: 3em;
}

#pr-story-1 {
  background-image: url(photos/story1.png);
}

#pr-story-2 {
  background-image: url(photos/story2.png);
}

#pr-story-3 {
  background-image: url(photos/story3.jpg);
}

footer {
	background-color: black;
	height: 3em;
	width: 100%;
}
